body {
	margin: auto;
	text-align: center;
	background-color: #1A1A1D;
	color: #E3E2DF;
}

#main {
	margin: auto;
	padding: 5px;
	text-align: center;
	border: 2px solid white;
	height: auto;
	width: auto;
}

#wrapper {
	position: fixed;
	padding: 2px;
	margin: auto;
	text-align: center;
	border: 1px solid white;
	height: auto;
	width: auto;
}
